<h1>Edit Member</h1>

<%= form_for :member, method: :put do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Contact: <%= f.text_field :contact %>
  <%= f.submit 'Update' %>
<% end %>